.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
datapacks/datapacks - Shortcut.lnk
**/.DS_store
DatapackStats.jar
florcraft_dp_.*
florcraft_rp_.*
florcraft_mod_.*
resourcepack/wip_flor_rp.zip
